@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@900&display=swap');

body {
    margin: 0;
    font-family: 'Anton', sans-serif;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background: linear-gradient(180deg, rgba(255,0,0,0.24413515406162467) 0%, rgba(36,0,0,0) 29%, rgba(144,0,0,0) 66%, rgba(255,0,0,0.2413340336134454) 100%);
}

header {
    background-color: rgba(255, 255, 255, 0.288);
    color: #ffffff;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.logo{
    align-items: center;
    display: flex;
    margin-left: 20px;
    font-size: 30px;
    transition: transform 0.2s ease-in-out;

}

.logo a{
    text-decoration: none;
    color: #000000;
    transition:color 0.2s ease-in-out;

}

.logo:hover{
   transform: scale(1.5);
}

.logo a:hover{
    color: #ff0000;
}

.encabezado-derecha{
    margin-right: 60px;
    align-items: center;
    display: flex;
}

.encabezado-derecha a {
    color: #000000;
    margin-left: 20px;
    text-decoration: none;
}

.carrito{
    animation: arcoiris 10s linear infinite;
    font-size: 30px;
}

@keyframes arcoiris{
    0% { color: #9400D3; }
    16.666% { color: #4B0082; }
    33.333% { color: #0000FF; }
    50% { color: #00FF00; }
    66.666% { color: #FF1493; }
    83.333% { color: #FF4500; }
    100% { color: #8B4513; }
}


.h1_productos{
    text-align: center;
    margin-top: 300px;
}

.contenedor_productos {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px; 
    justify-items: center;
    margin: 50px;
}

.productos {
    border: 1px solid #ddd;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    box-shadow: rgb(230, 227, 227) 1px 1px 10px 10px;
    width: 250px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.342);
    text-align: center;
    padding: 10px 40px 10px 40px;
    border-radius: 40px;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 40px;

}



.img_container{
    background-image: url(/img/imagen15.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 200PX;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productos h2, .productos p {
    padding: 10px;
}

.productos a {
    display: block;
    padding: 10px;
    background-color: #ff9a9a;
    color: #000000;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.productos a:hover {
    background-color: #ffb8b8;
}

footer {
    color: black;
    padding: 15px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 500px;
}

.redes-sociales a {
    color: black;
    margin: 0 10px;
    font-size: 40PX;
    text-decoration: none;
}
