@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@900&display=swap');

body {
    margin: 0;
    font-family: 'Anton', sans-serif;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background: linear-gradient(180deg, rgba(255,0,0,0.24413515406162467) 0%, rgba(36,0,0,0) 29%, rgba(144,0,0,0) 66%, rgba(255,0,0,0.2413340336134454) 100%);
}

header {
    background-color: rgba(255, 255, 255, 0.288);
    color: #ffffff;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.logo{
    align-items: center;
    display: flex;
    margin-left: 20px;
    font-size: 30px;
    transition: transform 0.2s ease-in-out;

}

.logo a{
    text-decoration: none;
    color: #000000;
    transition:color 0.2s ease-in-out;

}

.logo:hover{
   transform: scale(1.5);
}

.logo a:hover{
    color: #ff0000;
}

.encabezado-derecha{
    margin-right: 60px;
    align-items: center;
    display: flex;
}

.encabezado-derecha a {
    color: #000000;
    margin-left: 20px;
    text-decoration: none;
}

.carrito{
    animation: arcoiris 10s linear infinite;
    font-size: 30px;
}

@keyframes arcoiris{
    0% { color: #9400D3; }
    16.666% { color: #4B0082; } 
    33.333% { color: #0000FF; }
    50% { color: #00FF00; } 
    66.666% { color: #FF1493; } 
    83.333% { color: #FF4500; } 
    100% { color: #8B4513; }
}


.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
iframe{
    height: 600px;
    width: 70%;
}


footer {
    color: black;
    padding: 15px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 500px;
}

.redes-sociales a {
    color: black;
    margin: 0 10px;
    font-size: 40PX;
    text-decoration: none;
}
